@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: Black;
}

.area-cadastro{
    background-color: white;
    width: 80%;
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
}

.image-honda{
    text-align: center;
    margin-top: 30px;
}

.container{
    margin: auto;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    
}
.cx{
    margin-top: 15px;
}

.titulo{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(209, 209, 209);
}

.cliente{
    position: relative;
}

input{
    width: 100%;
    padding: 5px;
    border-radius: 6px;
    color: #181818;
    outline: none;
    border: 2px solid #181818;
}
span{
    position: absolute;
    top: 5px;
    left: 20px;
    font-size: 18px;
    letter-spacing: 0.1em;
    pointer-events: none;
    font-weight: 500;
    font-family: sans-serif;
    transition: .4s;
    color: #181818;
    background-color: #fff;
}

input:focus{
    border: none;
    outline: 2px solid #181818;
}

input:focus + span,
input:valid + span{
    top: -12px;
    font-size: 15px;
    padding: 0 1px;
    background: #fff;
}

#data{
    padding-left: 17px;
    width: 95%;
}

.titulo2{
    text-align: left;
    text-align: justify;
}

.numero{
    text-align: left;
}

#numero{
    width: 40%;
    
}

.ddd{
    width: 10%;
    margin-right: 16px;
}

.pequeno{
    font-size: 0.9em;
}

.telefone{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.Complemento{
    width: 160%;
}

.botao{
    margin: auto;
    text-align: right;
    padding-bottom: 30px;
    padding-top: 10px;
    width: 80%;
}

a.button8{
    display:inline-block;
    padding:0.2em 1.45em;
    margin:0.1em;
    border:0.15em solid #CCCCCC;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Segoe UI','Roboto',sans-serif;
    font-weight:400;
    color:#000000;
    background-color:#CCCCCC;
    text-align:center;
    position:relative;
}
a.button8:hover{
    border-color:#7a7a7a;
}
a.button8:active{
    background-color:#999999;
}
@media all and (max-width:30em){
    a.button8{
        display:block;
        margin:0.2em auto;
    }
}    
    


@media screen and (max-width: 750px) { 
    .numero{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    .pequeno{
        left: 7px;
        font-size: 0.8em;
    }
    
    


}
@media screen and (min-width: 750px) { 
    .duplo{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    .cpf,.rg,.rua{
        width: 65%;
    }
    .lado{
        font-size: .8em;
        text-align: center;
        left: 8px;
        top: 8px;  
    }
    #data:focus{
        border: none;
        outline: 2px solid #181818;
    }
    #data:focus + span,
    #data:valid + span{
    top: -12px;
    font-size: .8em;
    padding: 0 1px;
    background: #fff;
    }
    .triplo{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }  
    
    .cx2{
        margin-right: 50px;
        width: 30%;
    }
    .email {
        width: 100%;
    }

}
@media screen and (min-width: 1000px) {
    .rua{
        width: 75%;
    }
    .email {
        width: 250%;
        text-align: left;
    }
}
